@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=STIX+Two+Math&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
  /* outline:1px solid ;*/
}
body {
  background:white ;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.wrapper-2 {
  padding: 30px;
  text-align: center;
}

h1 {
  font-size: 4em;
  letter-spacing: 3px;
  color: #f0a500;
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
}

.wrapper-2 p {
  margin: 0;
  font-size: 1.3em;
  color: rgb(0, 0, 0);
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
}
.go-home {
  color: #fff;
  background: #f0a500;
  border: none;
  padding: 15px 200px;
  margin: 30px 0;
  border-radius: 30px;
  text-transform: capitalize;
  font-weight: bold;
}

@media (min-width: 360px) {
  h1 {
    font-size: 4.5em;
  }
  .go-home {
    margin-bottom: 20px;
  }
}

@media (min-width: 600px) {
  .content {
    max-width: 1000px;
    margin: 0 auto;
  }
  .wrapper-1 {
    height: initial;
    max-width: 620px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 8px 40px 8px rgba(88, 146, 255, 0.2);
  }
}
