

.add-event{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px; 
    text-decoration-color: #bd8200;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 1em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #b9b9b9;
  background-color: #e3e3e3;
}

h4 {
  color: #f0a500;
  font-weight: bold;
}

input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}


.input-group {
  margin-bottom: 1em;
  zoom: 1;
}



.input-group-icon {
  position: relative;
}

.input-group-icon input {
  padding-left: 4.4em;
}


.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}


.container {
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

.row:before,
.row:after {
  content: "";
  display: table;
}


.row:after {
  clear: both;
}


.col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}


.col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}



@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
}

.submit-event{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f0a500;
    font-weight: bold;
    font-size: 15px;
}