@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
body {
  font-family: "Ubuntu Mono", monospace;
  background-color: #2a2b2e;
}
.box{
  color: aliceblue;

}
#root
  > main
  > div
  > div
  > div.fc-view-harness.fc-view-harness-active
  > div
  > table {
  border: none !important;
}
.fc-day-today {
  background-color: #2a2b2e !important;
}

.fc-toolbar-chunk {
  display: flex;
}

table {
  border: none;
  border-collapse: separate;
  border-spacing: 0 15px;
}
.fc-button-primary {
  text-transform: capitalize !important;
  background-color: #00c49a !important;
  border: none !important;
}

.fc-day-past {
  cursor: pointer;
  border-bottom: 1px solid transparent !important;
}
.fc-day-future {
  cursor: pointer;
  border-bottom: 1px solid transparent !important;
}

.fc-day-past:hover {
  cursor: pointer;
  border-bottom: 1px solid #00c49a !important;
  transition: ease-in 50ms;
}
.fc-day-today {
  cursor: pointer;
  border-bottom: 5px solid #00c49a !important;
  transition: ease-in 50ms;
}
.fc-day-future:hover {
  cursor: pointer;
  border-bottom: 1px solid #00c49a !important;
  transition: ease-in 50ms !important;
}
.fc-toolbar {
  margin: 2%;
}
.fc-button{
  border:1px solid #2A2B2E !important;
  transition: all 0.3s;
  outline: none;
}
.fc-button:hover{
  background-color: #2A2B2E !important;
  transition: ease-in-out 0.3s !important;
  border:1px solid #00c49a !important;
  outline:none;
}
.fc-customToday-button{
  padding-right: 26px !important;
  padding-left: 26px !important;
}

.fc td,
.fc th {
  border-style: none;
  border-width: 1px;
  padding: 0;
  vertical-align: top;
}

