/* .add-event {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    text-decoration-color: #00c49a;
    font-weight: bold;
} */

.EventDetails {
    color: #FFFFFF;
    position: relative;
    font-family: 'Raleway', sans-serif;
    height: 42px;
    width: 224px;
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    font-style: normal;
}

.preview {
    color: #FFFFFF;
    position: relative;
    font-family: 'Raleway', sans-serif;
    height: 42px;
    width: 224px;
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    font-style: normal;
    left: 17px;
}

h4 {
    color: #FFFFFF;
    position: relative;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 22px;
    height: 22px;
    left: 2px;
    padding-bottom: 5px;
}

.react-datepicker-wrapper {
    width: 100% !important;
    color: grey;
}

.react-datepicker__input-container {
    width: 100% !important;
    color: grey;
}

input,
select {
    width: 100%;
    padding: 1em;
    line-height: 1.4;
    background-color: #11111D;
    border: 1px solid rgba(76, 66, 194, 0.3);
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    color: #FFFFFF !important;
    outline: none;
}


/* p {
    inline-size: 300px;
    overflow-wrap: break-word;
} */

.input-group {
    margin-bottom: 1em;
    zoom: 1;
}

.description {
    word-wrap: break-word;
    word-break: break-all;
    height: 200px;
    resize: none;
    border-radius: 3px;
    border: 1px solid rgba(76, 66, 194, 0.3);
    background-color: #11111D;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    line-height: 1.4;
    color: #FFFFFF;
    outline: none;
}

#scroll-bar {
    overflow-y: scroll;
    scrollbar-width: thin;
}

#scroll-bar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #23204F;
    position: absolute;
    left: 565px;
    top: 451px;
    scrollbar-width: thin;
}

#scroll-bar::-webkit-scrollbar {
    width: 4px;
    height: 21px;
    background-color: #11111D;
    position: absolute;
    left: 565px;
    top: 451px;
    scrollbar-width: thin;
}

#scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 100px;
    position: absolute;
    left: 565px;
    top: 451px;
    scrollbar-width: thin;
}

.event-color {
    width: 100%;
}

.label-color {
    width: 100%;
}

.text-color {
    width: 100%;
}

.input[type=color] {
    background-color: #2A2B2E;
    border: 0;
    cursor: pointer;
    padding: 0;
    background: none;
}

.container1 {
    max-width: 80%;
    margin: 0em auto;
    background-color: #191927;
    border-radius: 4.2px;
    top: 0px;
}

.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

.col-half {
    padding-right: 10px;
    float: left;
    width: 50%;
}

.col-full {
    float: left;
    width: 100%;
}

.submit-event {
    font-family: "Inter";
    background-color: #191927 !important;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    color: white;
}